.nine{
    width: 1350px;
    height: 140px;
    margin-left: 25px;
    background-color: #62D0DF;
    
}
.nine1{
    color: white;
    margin-left: 250px;
    padding-top: 60px;
    font-weight: 700;
    font-size: 28px;
    font-family: cursive;
    margin-top: 0;
}